In [2]:
import pandas as pd

In [24]:
trainset = pd.read_csv("processed_training.csv")
testset = pd.read_csv("processed_test.csv")

# take a look at the data
print(f"trainset have {trainset.shape[0]} rows and {trainset.shape[1]} columns")
print(f"testset have {testset.shape[0]} rows and {testset.shape[1]} columns")

trainset have 12270 rows and 192 columns
testset have 2445 rows and 192 columns

In [25]:
trainset.head(10)

,attendance,day,month,is_federal_holiday,venue,at_night,on_grass,temperature,wind_speed,weather,...,Starling-Marte,Joe-Musgrove,Joc-Pederson,Carlos-Rodon,Corey-Seager,Vladimir-Guerrero-Jr.,Byron-Buxton,salary-500-800,salary-800-1500,salary-1500
0,35055,Sunday,April,0,Wrigley Field,True,True,44,7,Sunny,...,0,0,0,0,0,0,0,5,6,8
1,49043,Monday,April,0,Chase Field,True,True,81,7,Sunny,...,0,0,0,0,0,0,0,7,6,6
2,43633,Monday,April,0,Great American Ball Park,False,True,68,15,Overcast,...,1,0,0,0,0,0,0,5,9,6
3,45030,Monday,April,0,Comerica Park,False,True,52,5,Cloudy,...,0,0,0,0,0,0,0,5,5,8
4,43753,Monday,April,0,Minute Maid Park,True,True,79,14,Cloudy,...,0,0,0,0,0,0,0,6,5,8
5,40085,Monday,April,0,Kauffman Stadium,False,True,59,6,Drizzle,...,0,0,0,0,0,0,0,3,8,8
6,53518,Monday,April,0,Dodger Stadium,False,True,65,1,Cloudy,...,0,0,1,0,0,0,0,4,4,9
7,36969,Monday,April,0,Marlins Park,False,True,80,16,Cloudy,...,0,0,0,0,0,0,0,2,8,4
8,46032,Monday,April,0,Miller Park,False,True,70,0,In Dome,...,0,0,0,0,0,0,0,5,9,6
9,48469,Monday,April,0,Yankee Stadium III,False,True,54,5,Cloudy,...,0,0,0,0,0,0,0,4,2,12

#### get dummies for categorical variables

##### check day of week values

In [9]:
# check day and month value for trainset
print(f"unique day value: {trainset['day'].unique()}")
print(trainset['day'].value_counts())

unique day value: ['Sunday' 'Monday' 'Tuesday' 'Wednesday' 'Thursday' 'Friday' 'Saturday']
Saturday     2010
Sunday       1988
Friday       1960
Tuesday      1863
Wednesday    1853
Thursday     1299
Monday       1297
Name: day, dtype: int64

In [10]:
# check day and month value for testset
print(f"unique day value: {testset['day'].unique()}")
print(testset['day'].value_counts())

unique day value: ['Thursday' 'Friday' 'Saturday' 'Sunday' 'Monday' 'Tuesday' 'Wednesday']
Saturday     418
Sunday       389
Tuesday      388
Friday       380
Wednesday    367
Thursday     258
Monday       245
Name: day, dtype: int64

##### check month values

In [26]:
# check month value for trainset
print(f"unique month value: {trainset['month'].unique()}")
print(trainset['month'].value_counts())

unique month value: ['April' 'May' 'June' 'July' 'August' 'September' 'October' 'November'
 'March']
May          2090
August       2090
June         2022
September    2021
July         1868
April        1806
October       277
March          92
November        4
Name: month, dtype: int64

In [27]:
# check month value for testset
print(f"unique month value: {testset['month'].unique()}")
print(testset['month'].value_counts())

unique month value: ['April' 'May' 'June' 'July' 'August' 'September' 'October' 'November']
August       418
May          409
June         402
September    397
July         389
April        315
October      111
November       4
Name: month, dtype: int64

##### check weather values

In [28]:
# check weather values for trainset
print(f"unique weather value: {trainset['weather'].unique()}")
print(trainset['weather'].value_counts())

unique weather value: ['Sunny' 'Overcast' 'Cloudy' 'Drizzle' 'In Dome' 'Rain']
Sunny       5290
Cloudy      4252
In Dome     1823
Overcast     776
Drizzle       71
Rain          58
Name: weather, dtype: int64

In [29]:
# check weather values for testset
print(f"unique weather value: {testset['weather'].unique()}")
print(testset['weather'].value_counts())

unique weather value: ['Sunny' 'Cloudy' 'In Dome' 'Overcast']
Cloudy      1024
Sunny        804
In Dome      448
Overcast     169
Name: weather, dtype: int64

In [30]:
##### get dummies for these checked columns
trainset = pd.get_dummies(trainset, columns=['day', 'month', 'weather'])
testset = pd.get_dummies(testset, columns=['day', 'month', 'weather'])

#### make true / false columns to 1 / 0

In [46]:
# do lambda transformation for the target variable
trainset['at_night'] = trainset['at_night'].apply(lambda x: 1 if x else 0)
testset['at_night'] = testset['at_night'].apply(lambda x: 1 if x else 0)

trainset['on_grass'] = trainset['on_grass'].apply(lambda x: 1 if x else 0)
testset['on_grass'] = testset['on_grass'].apply(lambda x: 1 if x else 0)

#### store processed data to csv

In [47]:
trainset.to_csv("processed_training.csv", index=False)
testset.to_csv("processed_test.csv", index=False)

In [49]:
new_trainset = pd.read_csv("processed_training.csv")
new_trainset.head(10)

,attendance,is_federal_holiday,venue,at_night,on_grass,temperature,wind_speed,team1_name,team1_pre_win,team1_pre_loss,...,month_May,month_November,month_October,month_September,weather_Cloudy,weather_Drizzle,weather_In Dome,weather_Overcast,weather_Rain,weather_Sunny
0,35055,0,Wrigley Field,1,1,44,7,StLouisCardinals,0,0,...,0,0,0,0,0,0,0,0,0,1
1,49043,0,Chase Field,1,1,81,7,SanFranciscoGiants,0,0,...,0,0,0,0,0,0,0,0,0,1
2,43633,0,Great American Ball Park,0,1,68,15,PittsburghPirates,0,0,...,0,0,0,0,0,0,0,1,0,0
3,45030,0,Comerica Park,0,1,52,5,MinnesotaTwins,0,0,...,0,0,0,0,1,0,0,0,0,0
4,43753,0,Minute Maid Park,1,1,79,14,ClevelandIndians,0,0,...,0,0,0,0,1,0,0,0,0,0
5,40085,0,Kauffman Stadium,0,1,59,6,ChicagoWhiteSox,0,0,...,0,0,0,0,0,1,0,0,0,0
6,53518,0,Dodger Stadium,0,1,65,1,SanDiegoPadres,0,0,...,0,0,0,0,1,0,0,0,0,0
7,36969,0,Marlins Park,0,1,80,16,AtlantaBraves,0,0,...,0,0,0,0,1,0,0,0,0,0
8,46032,0,Miller Park,0,1,70,0,ColoradoRockies,0,0,...,0,0,0,0,0,0,1,0,0,0
9,48469,0,Yankee Stadium III,0,1,54,5,TorontoBlueJays,0,0,...,0,0,0,0,1,0,0,0,0,0

In [62]:
new_trainset['team1_name'].unique()

array(['StLouisCardinals', 'SanFranciscoGiants', 'PittsburghPirates',
       'MinnesotaTwins', 'ClevelandIndians', 'ChicagoWhiteSox',
       'SanDiegoPadres', 'AtlantaBraves', 'ColoradoRockies',
       'TorontoBlueJays', 'TexasRangers', 'BostonRedSox',
       'LosAngelesAngelsofAnaheim', 'BaltimoreOrioles', 'NewYorkMets',
       'KansasCityRoyals', 'LosAngelesDodgers', 'DetroitTigers',
       'ChicagoCubs', 'TampaBayRays', 'SeattleMariners',
       'WashingtonNationals', 'HoustonAstros', 'MiamiMarlins',
       'NewYorkYankees', 'CincinnatiReds', 'OaklandAthletics',
       'PhiladelphiaPhillies', 'ArizonaDiamondbacks', 'MilwaukeeBrewers',
       'LosAngelesAngels'], dtype=object)

trainset team name that should be modified:

* ClevelandIndians -> ClevelandGuardians
* LosAngelesAngelsofAnaheim -> LosAngelesAngels